# Ignore node_modules directory
node_modules/

# Ignore database files
/database/
/database/**

# Additional database files to ignore
/database/journal/
/database/diagnostic.data/
/database/*.lock
/database/WiredTiger
/database/WiredTiger.*
/database_backup/

# Ignore log, PID, and socket files
/*.log
*.pid
*.sock

# Ignore environment files
env
backend/.env
frontend/.env
.env

# macOS system file
.DS_Store

# ssl key and cert
private.key
server.csr

# nginx config
nginx_proxy.pp
nginx_proxy.te

# https dir
https:/

/package-lock.json
/pnpm-lock.yaml
